.tabs {
    display: flex;
    cursor: pointer;
}

.tabs button {
    padding: 10px;
    border: none;
    background: lightgray;
    margin-right: 5px;
}

.tabs button:hover {
    background: gray;
}

.tab-content {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}